body{
    text-align: center;
    background-color: rgb(255,224,255);
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
}
.btn-container{
    display: flex;
    justify-content: center;
    
}
.yellow{
    background-color: #FFEA37;
}
.red{
    background-color:#DD4B3E;
}
.blue{
    background-color:#4B3EDD;
}
.green{
    background-color: #3EDD4B;
}
.flash{
    background-color: white;
}
.userFlash{
    background-color: darkgreen;
}